  @use '../../styles/base.scss';
  @use '../../styles/mixins.scss';
  
  .button span {
    margin: 0 0.4rem;
    text-transform: uppercase;
  }
  
  .badge {
    background-color: base.$secondary-colour;
    border-radius: 30px;
    padding: 0.25rem 0.75rem;
    color: base.$primary-colour;
  }

  .button:hover {
    .badge {
    background-color: base.$primary-colour;
    color: base.$secondary-colour;
   }
  }

  .button {
    @include mixins.button-theme;
    padding: 0.5rem 1rem;
  }
  
  .button:hover,
  .button:active {
    @include mixins.button-theme($theme: base.$secondary-colour, $border: base.$primary-colour);
  }
  