@use '../../styles/base.scss';

.footer {
    width: 100%;
    min-height: 10rem;
    background-color: base.$body-contrast;
    // position: fixed;
    // bottom: 0;
}
.footer > p {
    color: base.$body-colour;
    padding-left: 1rem;
}
.footer .information {
    display: flex;
    color: base.$body-contrast;
    background-color: base.$tertiary-colour;
    min-height: 7rem;
    align-items: center;
}
.information a {    
    align-items: center;
    display: flex;
    width: 80%;
}
.information a:hover {  
    color: base.$highlight-colour;
}
.information svg {
    font-size: 2rem;
    margin: 1rem;
    
}