@use "../../styles/base.scss";

.hero {
  font-weight: 400;
  font-size: 14px;
  /* margin: 0;
    padding: 0; */
  background-color: base.$hero-colour;
  padding: 2rem 0;
}

.hero img {
  width: 100%;
  margin: 0;
  height: auto;
}

.attribution {
  text-align: right;
  color: base.$highlight-colour;
  font-size: 0.7rem;
  margin-right: 0.3rem;
}
