@use '../../styles/base.scss';

.store_view {
    display: flex;
}

.sidebar_icon {
    color: base.$primary-colour;
    position: sticky;
    top: 0;
    z-index: 100;
}

.sidebar_icon:hover {
    color: base.$highlight-colour;
    cursor: pointer;
}