@use "../../styles/base.scss";

.product_card {
  // height: 14rem;
  display: flex;
  padding: 1rem;
  font-family: base.$font-stack-body;
  background-color: base.$tone-secondary-colour;
}
.product_img {
  display: flex;
  flex: 0.75;
  min-width: 40%;
  min-height: 40%;
  // background-color: base.$tone-colour;
  // padding: 0.5rem;
}

.product_img img {
  height: auto;
  width: 100%;
  vertical-align: middle;
}

@media (max-width: 580px) {
  .show_img {
    display: none;
  }
}

@media (min-width: 480px) {
  .product_img {
    min-width: 45%;
  }
}

@media (min-width: 768px) {
  .product_img {
    min-width: 40%;
  }
}

@media (min-width: 980px) {
  .product_card {
    display: block;
    max-width: 290px;
    max-height: 550px;
    height: 100%;
  }
  .product_img {
    max-height: 40%;
  }
}
