@use "../../styles/base.scss";
@import "../../styles/mixins.scss";

.sidebar {
  max-width: 30%;
}

.sidebar_close_icon {
  color: base.$input-colour;

  text-align: right;
  //   top: 0;
  //   right: 0;
  z-index: 100;
  padding: 4px 0 0;
  opacity: 0.8;
}

.sidebar_close_icon svg:hover {
  color: base.$highlight-colour;
  cursor: pointer;
}
.search_content {
  position: sticky;
  top: 0;
}

.header,
.content,
.first_header {
  color: base.$input-colour;
  padding: 4px 16px 12px;
  line-height: 1.15;
}
.header,
.first_header {
  font-size: 1.15rem;
}
.header {
  border-top: 1px solid base.$input-border;
}
.content {
  font-size: 1rem;
}
.content ul li {
  margin-bottom: 0.5rem;
}
.content ul li:hover {
  color: base.$highlight-colour;
  cursor: pointer;
}

.price_input {
  input {
    @include input-theme;
    max-width: 50%;
  }
  span,
  input {
    margin: 0 1rem 0 0;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
.query_input {
  input {
    @include input-theme;
    max-width: 80%;
    margin: 0 auto;
  }
}
.reset {
  input {
    @include input-theme;
    max-width: 60%;
  }
  input:hover {
    color: base.$highlight-colour;
    border-color: base.$highlight-colour;
  }
}

// .rating {
//   display: flex;
//   align-items: center;
// }
// .rating:hover {
//   color: base.$highlight-colour;
//   cursor: pointer;
// }
// .rating_selected {
//   color: base.$highlight-colour;
// }

@media (min-width: 768px) {
  .price_input {
    input {
      max-width: 30%;
    }
  }
  .reset {
    input {
      max-width: 40%;
    }
  }
}
