//Fonts

$font-stack: Tahoma, Verdana, Geneva;
$font-stack-header: Helvetica, 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
$font-stack-body: Tahoma, Verdana, Geneva; 

//Colours

$primary-colour: #282c34;
$secondary-colour: #61dafb;
$tertiary-colour: lightblue;
$highlight-colour: #f0981d;
$price-colour: #f04e1d;

$body-colour: #fdfdfe;
$body-contrast: #102445;

$tone-colour: #737880;
$tone-secondary-colour: #f6f6f6;

$input-colour: #333;
$input-border: #d8d8d8;

$backdrop-colour: #313131;

//Nav

$header-height: 5rem;