//Fonts

$font-stack: Tahoma, Verdana, Geneva;
$font-stack-header: Tahoma, Verdana, Geneva;
$font-stack-body: Tahoma, Verdana, Geneva; 

//Colours

$primary-colour: #282c34;
$secondary-colour: #61dafb;
$highlight-colour: #f0981d;

$body-colour: #fdfdfe;
$body-contrast: #102445;

