@use './base.scss';
@use './mixins.scss';


html,
body {
  padding: 0;
  margin: 0;
  font-family: base.$font-stack;
}
html > body > div > div {  height: 100vh;}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

button {
  @include mixins.button-theme;
  padding: 0.5rem 1rem;
}

button:hover,
button:active {
  @include mixins.button-theme($theme: base.$secondary-colour, $border: base.$primary-colour);
}



/* cool bg example
body{
background-color: #d3e3fc;
width: 100vw;
height: 100vh;
background-image: url(https://dummyproducts-api.herokuapp.com/assets/images/bottom-bg.ec2649b23acde7c52127166f84f5c6bb.svg);
background-repeat: no-repeat;
background-size: contain;
background-position: bottom;
} */